@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

$orange: rgb(255, 136, 0);
$yellow: #ffc107;

html{
    font-family: 'Roboto', sans-serif;
}

.btn{
    &-yellow{
        background-color: $yellow;
    }
}

#breadcrumbs{
    font-size: 0.8rem;
}

.course{
    &.side-summary{
        border: 1px solid slategray;
        padding: 12px;
        border-radius: 2px;
        h3{
            text-align: center;
        }
        .price{
            font-size: 0.9rem;
            strong{
                font-size: 1.3rem;
                color: $orange;
            }
        }

        ul {
            list-style: none;
            padding: 0;
          }
          li {
            padding-left: 1.3em;
          }
          li:before {
            content: "\f00c"; /* FontAwesome Unicode */
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em; /* same as padding-left set on li */
            width: 1.3em; /* same as padding-left set on li */
            color: green;
          }
    }

    .apply{
        background-color: $orange;
        font-weight: bold;
        text-align: center;
        font-size: 1.4rem;
        border-radius: 2.5px;
        padding: 4px;
        a{
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

.top-header{
    .logo{
        display: inline-block;
        img{
            padding: 15px;
            width: 10rem;
        }
    }

    .quick-links{
        display: inline-block;
        ul{
            list-style: none;
            li{
                display: inline-block;
                border: 1px solid black;
                a{
                    color:black;
                    font-weight: bold;
                }
            }
        }
    }

    .top-contact{
        text-align: center;
        display: inline-block;
        background-color: #ffc107a6;
        border: 1px solid #ffc107;
        padding: 8px;
        vertical-align: middle;
        h3{
            font-weight: bold;
            font-size: 1.3rem;
            margin: 0;
        }
    }
}

.mobile-menu-toggle{
    background-color: $orange;
    padding: 5px;
    .navbar-toggler-icon{
        color: $orange;
    }
}

header.header{
    position: relative;
}

.top-courses{
    position: absolute;
    right: 50px;
    top:20px;
    text-align: center;
    border: 1px solid rgb(231, 231, 231);
    height: 90%;
    width: 22%;
    padding: 10px 20px;
    ul{
        list-style: none;
        padding: 0;
        li{
            background-color: rgb(255, 208, 0);
            padding: 5px 35px;
            margin: 10px 0;
            a{
                font-weight: 500;
                font-size: 20px;
                text-decoration: none;
                text-align: center;
                color: black;
            }
        }
    }
}

.course-categories{
    a{
        text-decoration: none;

    }


    .course-category{
        background-color: rgb(224, 224, 224);
        border: 1px solid rgb(172, 172, 172);
        background-position: center center;
        background-size: cover;
        box-shadow: 0 0 3px #ccc;
        border-radius: 3px;
        position: relative;
       
    
        h3{
            margin-top: 9rem;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.11);
            width: 100%;
            margin-bottom: 0;
            color: white;
            padding: 4px 0 6px 0;
            font-weight: 500;
        }
    }
}

.blog-header{
    background-color: rgb(27, 27, 27) !important;
    .navbar-nav{
        .nav-item{
            margin-bottom: 2px;
            &:hover{
                border-bottom: 2px solid slategray;
                margin-bottom: 0px;
            }
            .nav-link{
                font-weight: bold;
                color: $orange;
            }
        }
    }
}

.block{
    &-top-image{
        background-size: cover;
        height: 130px;
        background-position: center center;
    }
}


.application_form{
    background-color: rgba(128, 128, 128, 0.178);
    padding: 10px;

    .block{
        padding: 10px;
        margin: 5px 0;
    }
}
.apply{
    background-color: #2197ddcc;
    .company{
        background-color: rgba(255, 255, 255, 0.39);
    }
    .student{
        background-color: rgba(255, 255, 255, 0.39);
        margin: 1.5rem 0;
    }
    .summary{
        background-color: rgba(255, 255, 255, 0.39);
    }
}

.select-event{
    padding: 0;
        li{
            list-style: none;

        }
}

.btn-close{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
    font-size: 12px;
}

.summary{
    // background-color: rgba(255, 251, 31, 0.514);
    background-color: #4040401c;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid slategray;
    p{
        margin: 3px 0;
    }
    li{
        list-style: none;
        margin: 5px 0;
    }
}

.recommended{
    ul{
        list-style-type: none;
        padding: 0;
        li{
            border: 1px solid rgb(173, 173, 173);
            padding: 8px 4px;
            margin: 5px 0;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}

.category-header{
    background-color: $orange;
    padding: 20px 10px 10px 10px;
    clip-path: polygon(0 0, 73% 0, 50% 99%, 0% 100%);
    min-height: 250px;
}

.tiles{
    .tile{
        border: 2px solid rgb(219, 219, 219);
        border-radius: 4px;
        padding: 20px;
        text-align: center;
        &__title{
            font-size: 1.5rem;
        }
        &__image{
            max-height: 80px;
        }
    }
}

.question-bar{
    background-color: $orange;
    position: relative;
    padding-top: 15px;
    &__advisor{
        height: 300px;
        img{
            height: 100%;
        }
    }
    &__text{
        margin-top: 50px;
        &-title{
            font-size: 1.6rem;
            font-weight: bold;
        }
        &-text{
            font-size: 1.6rem;
        }
    }
    &__buttons{
        margin-top: 50px;
        a{
            margin-bottom: 20px;
        }
    }
}

.ul-usp{
    padding: 0;
    &__item{
        list-style: none;
        display: inline-flex;
        position: relative;
        display: table;
        margin: 8px 0px;
        .circle-icon {
            background: black;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
            vertical-align: middle;
            margin-right: 0.5rem;
            color: white;
            display: inline-block;
        }
        p{
            display: table-cell;
            vertical-align: middle;
        }
    }
}


.about{
    background-color: #fdd416;
    margin: 15px 0;
    &__content{
        padding: 10px;
    }
    &__photo{
        background-image: url("../../public/media/image/about_photo.jpg");
        background-size: cover;
        padding: 0;
        // &::before{
        //     position: absolute;
        //     z-index: 2;
        //     content: '';
        //     display: block;
        //     height: 100%;
        //     width: 8.88889em;
        //     background-image: linear-gradient(to right, #fdd416, rgba(253, 212, 22, 0));
        // }
    }
}