{{ define "main" }}

{{ $truncate := default true .Site.Params.truncate }}

<header class="header">
    {{ $posts := (where .Pages ".Params.featured" "==" true) }}
        {{ $postCount := len $posts }}
        {{ if gt $postCount 0  }}
    <div class="top-courses d-none d-lg-block">


        
        <h3>Top {{$postCount}} {{.Params.title}}:</h3>
        <ul>
            {{ range where .Pages ".Params.featured" "==" true }}
                <li><a href="#">{{.Title}}</a></li>
            {{end}}
        </ul>
    </div>
    {{ end }}

    <div class="category-header">
        <h1 class="blog-post-title">
            <a class="text-dark text-decoration-none" href="{{ .RelPermalink }}">{{ .Title | markdownify }} cursussen</a>
        </h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p>{{ .Params.intro }}</p>
            </div>
    </div>

    
</header>


{{ $paginator := .Paginate .Pages }}
<div class="row">
    {{ range $paginator.Pages }}

    {{ .Render "block" }}
    {{ end }}
</div>


{{ partial "paginator" . }}

{{ .Content }}

{{ end }}
