{{ define "main" }}

{{ $truncate := default true .Site.Params.truncate }}

<header class="category-header">
    <h1 class="blog-post-title">
        <a class="text-dark text-decoration-none" href="{{ .RelPermalink }}">{{ .Title | markdownify }} cursussen</a>
    </h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p>{{ .Params.intro }}</p>
        </div>
        <div class="col-md-4 offset-md-2">
            <ul>
                <li>VCA Basis</li>
                <li>VCA VOL</li>
                <li>VIL VCU</li>
            </ul>
        </div>
    </div>
</header>


{{ $paginator := .Paginate .Pages }}
<div class="row">
    {{ range $paginator.Pages }}

    {{ .Render "block" }}
    {{ end }}
</div>


{{ partial "paginator" . }}

{{ .Content }}

{{ end }}
