{{ define "main" }}



<div class="row">
    <div class="col-md-8">
        <header>
            {{ partial "post-title" . }}
            <hr>
        </header>
        <article class="blog-post">
            {{ .Content }}
        </article>
    </div>
    <div class="col-md-4 ">
        <div class="course side-summary">
            <h3>{{.Title}}</h3>
            <p class="price"><strong>€{{.Params.Price}},-</strong> exc. BTW</p>
            <hr>
            <ul>
                {{range .Params.pos }}
				<li>{{.}}</li>
			    {{end}}
                
            </ul>
            <p>Eerstvolgende cursus: <br><strong id="first-upcoming">  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span></strong></p>
            <div class="apply">
                <a href="#root">Inschrijven</a>
            </div>
        </div>
        {{ partial "related" . }}
        {{ partial "translations.html" . }}

    </div>
</div>
<div id="root" course="{{.Params.courseId}}"></div>


{{ $built := resources.Get "scripts/course.jsx" | js.Build "main.js" }}
<script src="{{ $built.RelPermalink }}"></script>

{{ end }}
