{{ define "main" }}

{{ $truncate := default true .Site.Params.truncate }}

{{ if .Content }}
<header>
    <h1 class="blog-post-title">
        <a class="text-dark text-decoration-none" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </h1>
    <hr>
</header>
<section class="blog-post">
    {{ .Content }}
</section>
{{ end }}
<div class="container">
    <div class="row">
            {{ $paginator := .Paginate .Pages }}
            {{ range $paginator.Pages }}
            <div class="col-md-6">

                {{ if $truncate }}
                    {{ .Render "summary" }}
                {{ else }}
                    {{ .Render "content" }}
                {{ end }}
            </div>

            {{ end }}
    </div>
</div>


{{ partial "paginator" . }}

{{ end }}
