<section class="about">
    <div class="row">
        <div class="col-md-6">
            <div class="about__content">
                <h3>Wij zijn Orbi</h3>
                <p>Wij zijn een opleidingsinstituut in Rotterdam. Wij bieden ruim 20 praktijkgerichte opleidingen en trainingen aan op verschillende niveaus.</p>	
                <p>De trainingen worden verzorgd door professionals uit de praktijk.Persoonlijke begeleiding, wij denken met je mee en helpen je bij het maken van keuzes.Laagste prijs garantie op veel van onze cursussen.Opleidingen in meerdere talen waaronder Arabisch, Engels, Grieks, Pools en Turks.</p>
                <ul class="ul-usp">
                    <li class="ul-usp__item ul-usp__item">
                        <i class="fas fa-user fa-2x circle-icon"></i><p>De trainingen worden verzorgd door professionals uit de praktijk.</p>
                    </li>
                    <li class="ul-usp__item ul-usp__item">
                        <i class="fas fa-user fa-2x circle-icon"></i><p>Persoonlijke begeleiding, wij denken met je mee en helpen je bij het maken van keuzes.</p>
                    </li>
                    <li class="ul-usp__item ul-usp__item">
                        <i class="fas fa-user fa-2x circle-icon"></i><p>Laagste prijs garantie op veel van onze cursussen.</p>
                    </li>
                    <li class="ul-usp__item ul-usp__item">
                        <i class="fas fa-user fa-2x circle-icon"></i><p>Opleidingen in meerdere talen waaronder Arabisch, Engels, Grieks, Pools en Turks.</p>
                    </li>
                </ul>
                <a href="#" class="btn btn-dark">Ons verhaal</a>
            </div>
        </div>
        <div class="col-md-6 about__photo">
            
        </div>
    </div>
</section>