{{ $colorScheme := default "light" .Site.Params.footer.colorScheme }}

<footer class="blog-footer w-100">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Meer weten</h3>
                <a href="tel:010 737 1700" class="contact-link"><i class="fas fa-phone-alt"></i> 010 737 1700</a>
                <a href="mailto:info@orbiopleidingen.nl" class="contact-link"><i class="fas fa-envelope"></i> info@orbiopleidingen.nl</a>
                <strong>Bereikbaarheid</strong>
                <p>Op werkdagen tussen 09:00 - 17:00 <br>Op zaterdagen vanaf 07:30 tot 17:00</p>
                <p>Getoonde prijzen zijn exclusief 21% btw.</p>
            </div>
            <div class="col-md-3">
                <h3>Locatie</h3>
                <ul class="footer-location">
                    <li>Hofweg 37</li>
                    <li>3046 NJ Rotterdam</li>
                    <li>KVK-nummer: 67631746h3</li>
                    <li>IBAN: </li>
                    <li>BTW: </li>
                </ul>
                
            </div>
            <div class="col-md-3">
                <h3></h3>
                <ul class="list-unstyled">
                    <li>Algemene voorwaarden</li>
                    <li>Privacy verklaring</li>
                    <li>Cookieverklaring</li>
                    <li>Disclaimer</li>
                    <li>Sitemap</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="social-icons">
                    <li>
                        <i class="fab fa-facebook-square fa-3x"></i>
                    </li>
                    <li>
                        <i class="fab fa-instagram-square fa-3x"></i>
                    </li>
                    <li>
                        <i class="fab fa-linkedin fa-3x"></i>
                    </li>
                </ul>                
            </div>
        </div>
    
    
        <span class="w-100 text-center">&copy; 2021 - Orbi Opleidingen</span>
</div>
</footer>
