<div class="row question-bar">
    <div class="col-md-3 question-bar__advisor">
    </div>
    <div class="col-md-6 question-bar__text">
        <h3 class="question-bar__text-title">Vragen over onze cursussen?</h3>
        <p class="question-bar__text-text">Onze adviseurs zitten elke dag tussen <br> 8:00 - 17:00 klaar om u te helpen.</p>
    </div>
    <div class="col-md-3 question-bar__buttons">
        <a href="tel:0107371700" class="btn btn-dark"><i class="fas fa-phone"></i> 010 737 1700</a>
        <a href="mailto:info@orbiopleidingen.nl" class="btn btn-dark"><i class="fas fa-envelope"></i> info@orbiopleidingen.nl</a>
    </div>
</div>