<section class="convince">
    <div class="row tiles mb-3 mt-3">
        <div class="col-md-4">
            <div class="tile">
                <img src="/static/images/icon/cursussen.svg" class="tile__image" alt="" width="100">
                <h1 class="tile__title">Alle cursussen</h1>
                <p class="tile__description">Ruim 20 praktijkgerichte opleidingen en trainingen in meerdere talen en niveaus.</p>
                <a href="#" class="btn btn-primary">Bekijk cursussen</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                <img src="/static/images/icon/locaties.svg" class="tile__image" alt="" width="100">
                <h1 class="tile__title">Onze cursuslocaties</h1>
                <p class="tile__description">Wij bieden je de mogelijkheid om onze cursussen op diverse locaties te volgen.</p>
                <a href="#" class="btn btn-primary">Bekijk locaties</a>    
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                <img src="/static/images/icon/klantenservice.svg" class="tile__image" alt="" width="100">
                <h1 class="tile__title">Klantenservice</h1>
                <p class="tile__description">Heb je vragen of opmerkingen? Neem dan gerust contact met ons op.</p>
                <a href="#" class="btn btn-primary">contact opnemen</a>
            </div>
        </div>
    </div>
</section>
